<!DOCTYPE html>
<html ng-app='quoteBook'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css"></link>
  </head>
  <body ng-controller='mainController'>

    <input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
    <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
      <button ng-click="addQuote()">Add Quote</button>
    <div>
      Filter: <input type="text" ng-module='filterText'/>
    </div>
        <p ng-repeat = "quote in quotes | filter: filterText">
          <span class = 'text'>{{quote.text}}</span>
          <span class = 'author'>{{quote.author}}</span>
            <button ng-click = "deleteMe(quote.text)">Delete</button>
        </p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js">
  </script>
  <script src="./js/app.js"></script>
  <script src="./js/controller.js"></script>
  <script src="./js/mainService.js"></script>
</body>
</html>
